<!-- Full Page Intro -->
<div class="view" style="background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm208-jj-14_1_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=193dc4e4a71b2b7e41173e527347ffc3'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light align-items-center d-flex">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4 white-text text-center">
          <h1 class="h1-reponsive main-h1 white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>My CovTest Hub</strong></h1>
          <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
          <h5 class="text-uppercase main-h5 mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Stay Home, Stay Safe</strong></h5>
          <%= link_to 'Admin Dashboard', admins_path, class: 'btn btn-outline-white wow fadeInDown', data: {:wow_delay => '0.4s'} %>
          <%= link_to 'Report Test Result', new_test_result_path, class: 'btn btn-outline-white wow fadeInDown', data: {:wow_delay => '0.4s'} %>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      
        <%= render 'shared/errors' %>

    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
